@charset "UTF-8";

.main{background: #f7f2ec; height: 1100px;}
.main .main_text{display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; height: 100%;}
.main .main_text h3{margin-bottom: 40px;}
.main .main_text h3 img{width: 190px;}
.main .main_text h4{font-size: 3.5rem; font-weight: 600; margin-bottom: 15px;}
.main .main_text h2{font-size: 7.5rem; font-weight: 600; margin-bottom: 45px;}
.main .main_text h2 b{font-weight: 900}
.main .main_text p{font-size: 2.5rem; font-weight: 300; color: #535353; line-height: 140%; margin-bottom: 50px;}
.main .main_text p b{color: var(--color)}
.main .main_text a{font-size: 3.0rem; padding: 14px 30px; border-radius: 40px; background: var(--color); color: #fff; font-weight: bold;}

.page1{text-align: center;}
.page1 h3{margin-bottom: 60px;}
.page1 h4{font-size: 3.0rem; color: #fff; padding: 10px 35px; border-radius: 40px; background: var(--color); display: inline-block; margin-bottom: 40px;}
.page1 h5{font-size: 4.5rem; }
.page1 h2{font-size: 7.5rem; color: var(--color); font-weight: bold;}
.page1 .box_wrap{margin-top: 100px; display: flex; justify-content: center; gap:30px 5%;}
.page1 .box{width: 40%;}
.page1 .box span{width: 100%;  background: #eee; border-radius: 5px; display:block; padding: 15px;}
.page1 .box span iframe{width: 100%;}
.page1 .box p{margin-top: 20px; font-size: 3.0rem;}

.page2{background: #f7f2ec; }
.page2 .text{text-align: center; margin-bottom: 100px;}
.page2 .text h3{color: #e58d05; font-weight: bold; font-size: 3.0rem; margin-bottom: 10px;}
.page2 .text h2{font-weight: 500; font-size: 7.5rem; margin-bottom: 60px;}
.page2 .text h4{font-size: 3.5rem; margin-bottom: 40px;}
.page2 .text h5{font-size: 2.6rem; margin-bottom: 120px; font-weight: 200; line-height: 130%;}
.page2 .text .cut1 p{font-size: 2.4rem; margin-top: 15px; font-weight: 300;}
.page2 .cut2{max-width: 1200px; margin: 0 auto;}
.page2 .cut2 img{width: 100%;}
.page2 .cut2 h2{font-size: 5.0rem; font-weight: 200; text-align: center; margin-top: 80px;}
.page2 .cut2 h2 b{font-weight: 600;}
.page2 .cut2 .line{display: block; width: 1px; height: 160px; background: #000; margin: 80px auto;}
.page2 .cut3{text-align: center; margin-bottom: 100px;}
.page2 .cut3 h2{font-size: 3.5rem; font-weight: 600; margin-bottom: 60px;}
.page2 .cut3 .img{max-width: 380px; display: block; margin: 0 auto;}
.page2 .cut3 .img img{width: 100%;}
.page2 .cut4 h2{font-size: 3.5rem; font-weight: 600; margin-bottom: 60px; text-align: center; line-height: 140%;}
.page2 .cut4 h3{font-size: 3.5rem; font-weight: 600; text-align: center; line-height: 140%;}
.page2 .cut4 .img{max-width: 1200px; display: block; margin: 0 auto; margin-bottom: 60px;}
.page2 .cut4 .img img{width: 100%;}
.page2 .cut5{margin-top: 100px;}
.page2 .cut5 .img{max-width: 1300px; margin: 0 auto;}
.page2 .cut5 .img img{width: 100%;}
.page2 .cut5 h2{font-size: 7.5rem; font-weight: 300; text-align: center;margin-top: 120px;}

.page3{background: url('../img/bg1.png')no-repeat; background-size: cover; background-position: center;}
.page3 .title h3{text-align: center; font-size: 6.0rem; font-weight: 400;}
.page3 .title h2{text-align: center; color: var(--color); font-size: 7.5rem;}
.page3 .box_wrap{display: flex;justify-content: space-between; align-items: center; margin-top: 150px;}
.page3 .box_wrap .img{max-width: 470px; text-align: center;}
.page3 .box_wrap2 .img{max-width: 460px; text-align: center; position: relative;}
.page3 .box_wrap2 .img_text{position: absolute;top:0; left: 0;}
.page3 .box_wrap3 .img{max-width: 750px; text-align: center;}
.page3 .box_wrap .img img{width: 100%;}
.page3 .text{width: 50%;}
.page3 .text h4{width: 500px; padding: 10px 40px; color: #fff; background: var(--color); border-radius: 40px; font-size: 3.0rem; margin-bottom: 45px;}
.page3 .text h4 i{font-weight: bold;}
.page3 .text p{font-size: 2.4rem; line-height: 140%;}
.page3 .text p b{color: var(--color)}
.page3 .text p span{font-size: 1.6rem;}
.page3 .box_wrap2{flex-direction: row-reverse;}

.block-768{display:none;}
.none-768{}
.seqbox{padding:180px 0 100px;border-bottom:1px solid #d6d6d6;}
.seqbox .flexbox{display:flex;flex-wrap:wrap;align-items: center;}
.seqbox .flexbox > div{text-align:center;}
.seqbox .flexbox > div img{width:100%;}
.seqbox .flexbox > div { width:30%;}
.seqbox .flexbox > div:nth-child(1){order:1;}
.seqbox .flexbox > div:nth-child(2){order:2;}
.seqbox .flexbox > div:nth-child(3){order:3;}
.seqbox .flexbox > div:nth-child(4){order:4;}
.seqbox .flexbox > div:nth-child(5){order:5;}
.seqbox .flexbox > div:nth-child(6){order:6;}
.seqbox .flexbox > div:nth-child(7){order:7;}
.seqbox .flexbox > div:nth-child(8){order:8;}
.seqbox .flexbox > div:nth-child(9){order:9;}
.seqbox .flexbox > div:nth-child(10){order:10;}
.seqbox .flexbox > div:nth-child(11){order:11;}
@media (max-width: 768px){
	.seqbox{padding:100px 0;}
	.block-768{display:block;}
	.none-768{display:none;}
	.seqbox .flexbox > div { width:100%;}
}


.page4{background: #f7f2ec;}
.page4 .title{margin-bottom: 100px;}
.page4 .title h3{text-align: center; font-size: 6.0rem; font-weight: 400;}
.page4 .title h2{text-align: center; color: var(--color); font-size: 7.5rem; font-weight: bold;}
.page4 .box_wrap .text{width: 100%; max-width: 966px; min-height: 225px; background: url('../img/bg2.png')no-repeat; background-size: contain;; background-position: center; padding: 60px 60px 0px 100px;}
.page4 .box_wrap{display: flex; align-items: flex-end; gap:0px 2%;}
.page4 .box_wrap .text h2{font-size: 2.6rem; font-weight: 600; margin-bottom: 10px;}
.page4 .box_wrap .text p{font-size: 2.0rem; line-height: 135%;}
.page4 .text_wrap{max-width: 1125px; margin-top: 25px;}
.page4 .text_wrap2{margin: 0 0 0 auto; margin-top: 25px;}
.page4 .text_wrap img{width: 100%;}

.page5 .title{margin-bottom: 100px; text-align: center;}
.page5 .title h4{margin-bottom: 20px;}
.page5 .title h3{text-align: center; font-size: 6.0rem; font-weight: 400;}
.page5 .title h2{text-align: center; font-size: 7.5rem; font-weight: bold;}
.page5 .box_wrap{max-width: 1700px; margin: 0 auto; width: 92%; display: flex; gap:30px 1%;}
.page5 .box{width: 24%; border: 1px solid #eaeaea; border-radius: 40px; padding: 20px; display: flex; justify-content: space-between; flex-direction: column; transition: 0.3s all;}
.page5 .box h2{font-size: 2.4rem; font-weight: 500; min-height: 120px; border-bottom: 1px solid #eaeaea; display: flex; align-items: center; margin-bottom: 20px;}
.page5 .box .text{margin-bottom: 30px;}
.page5 .box p{font-size: 1.9rem; line-height: 140%;}
.page5 .box h3{font-weight: bold; text-align: right; margin-bottom: 30px;}
.page5 .box:hover{border: 1px solid var(--color)}

.page6{background: #232529;}
.page6 h2{text-align: center; font-size: 7.5rem; font-weight: bold; color: #fff; margin-bottom: 55px;}
.page6 .time{width: 80%; margin: 0 auto; margin-bottom: 80px;}
.page6 .time h3{width: 100%; background: var(--color); font-size: 4.2rem; color: #fff; text-align: center; padding: 20px 0px; border-radius: 50px; font-weight: 200;}
.page6 .time h4{text-align: right; font-size: 2.4rem; color: #fff; margin-top: 10px; font-weight: 200; margin-right: 10%;}
.page6 ul li{display: flex; color: #fff; margin-top: 15px;}
.page6 ul li span{margin-right: 5px; font-size: 2.2rem;}
.page6 ul li p{font-size: 2.2rem; font-weight: 100;}
.page6 ul li p span{font-size: 1.7rem; font-weight: 100;} 

.page7 h2{text-align: center; font-size: 7.5rem; font-weight: 500; margin-bottom: 80px;}
.page7 .box{display: flex; padding: 18px 25px; border-bottom: 1px solid #c2c2c2;}
.page7 .box:nth-child(2){border-top: 1px solid #c2c2c2;}
.page7 .box h3{font-size: 2.6rem; font-weight: bold; color: var(--color); margin-right: 8px; line-height: 140%;}
.page7 .box p{font-size: 2.6rem; font-weight: 300; line-height: 140%;}

.page8{background: #f7f2ec; position: relative;}
.page8 .title{text-align: center; margin-bottom: 100px;}
.page8 .title h3{font-size: 2.5rem; color: #e58d05; font-weight: 200;}
.page8 .title h2{font-size: 7.5rem; font-weight: bold;}
.page8 .title h4{font-family: 'Celliad', sans-serif; font-size: 9.4rem; color: #e58d05; margin-left: 19%; line-height: 85%;}
.page8 .proSwiper{max-width: 1024px; width: 88%; margin: 0 auto;}
.page8 .swiper-wrapper{padding-top: 35px;}
.page8 .swiper-slide{background: #e5ceae; border-radius: 190px 0px 0px 0px; display: flex; align-items: center; min-height: 475px;}
.page8 .swiper-slide .img{width: 50%; text-align: center;}
.page8 .swiper-slide .img img{width: 50%;}
.page8 .swiper-slide .text{width: 50%; padding: 15px;}
.page8 .swiper-slide .text h2{font-size: 2.6rem; font-weight: 200;}
.page8 .swiper-slide .text ul{margin-top: 30px;}
.page8 .swiper-slide .text h3{font-size: 2.0rem; font-weight: bold; margin-bottom: 7px;}
.page8 .swiper-slide .text li{font-size: 2.0rem; font-weight: 200; margin-top: 4px;}
.page8 .swiper-slide .text span{font-size: 2.0rem; font-weight: 600; margin-right: 5px;}
.page8 .btn_wrap{position: absolute; width: 100%; display: flex; justify-content: space-between; top: 56%; left: 0; right: 0; margin: 0 auto;}
.page8 .btn_wrap div{font-family: 'SUIT-Regular'; color: #d7d7d7; width: 50px; height: 50px; border-radius: 50%; background: #fff; border: 1px solid #d7d7d7; text-align: center; line-height: 50px; font-size: 2.2rem; cursor: pointer;}
.page8 .btn_wrap div:hover{background: #e5ceae; color: #fff;}
.page8 .text2{max-width: 1024px; width: 92%; margin: 0 auto; margin-top: 55px;}
.page8 .text2 h4{font-size: 2.0rem; font-weight:bold; margin-bottom: 10px;}
.page8 .text2 p{font-size: 1.9rem; line-height: 140%;}

#ft{background: #fff;}
#ft .footer{display: flex; align-items: center; gap: 30px 3%; justify-content: center;}
#ft .footer .foot_info{text-align: left; width: 70%;}
#ft .footer .foot_info span {margin-right: 2%; line-height: 150%;}
#ft .footer .foot_info a {color: #000;}

.quick{position: fixed; right: 20px; top: 30%; z-index: 5; display: flex; flex-direction: column; gap: 5px 0px;}
.quick a{width: 100px; display: block;}
.quick a img{width: 100%;}
.quick .tel{background: var(--color); padding: 20px 12px; border-radius: 50px; text-align: center;}
.quick .tel img{width: 70%;}
.quick .tel #top_btn{background: none; border: none; width: auto; height: auto; line-height: normal; display: block; width: 100%; margin-top: 10px; padding-top: 10px; border-top: 1px solid rgba(255,255,255,0.7);}
.quick .tel #top_btn span{font-size: 1.4rem; font-weight: bold; color: #fff;}


.pop_wrap {display: none;position: fixed;top: 0;left: 0;background: rgb(0, 0, 0, 0.3);width: 100%;  height: 100%;  z-index: 9999;}
.pop_wrap .pop-inner {position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  width: 90%;  max-width: 768px;  height: 850px; padding: 50px 20px;  background: #fff; overflow: hidden;}
.pop-close {  position: absolute;  top: 5px;  right: 5px;  width: 30px;  height: 30px;  cursor: pointer;}
.pop-close i{font-size: 24px;}
.pop_wrap .pop-inner h3{text-align: center; font-size: 2.0rem; font-weight: bold; margin-bottom: 20px;}
.pop-text{height: 620px; overflow-y: scroll; padding-bottom: 70px;}


#popup2 .pop-inner{max-width: 1024px; z-index: 3;}
#popup2 .pop-inner h3{font-size: 6.5rem; font-weight: 200; margin-bottom: 60px;}
#popup2 .pop-inner h3 b{color: var(--color)}
#popup2 .pop-close{ width: 50px; height: 50px; background: var(--color); border-radius: 50%; text-align: center; line-height: 50px; color: #fff; font-size: 2.6rem; top: 62px; right: 35px; z-index: 5;}

#popup3 .pop-inner{max-width: 1024px; z-index: 3;}
#popup3 .pop-inner h3{font-size: 6.5rem; font-weight: 200; margin-bottom: 60px;}
#popup3 .pop-inner h3 b{color: var(--color)}
#popup3 .pop-close{ width: 50px; height: 50px; background: var(--color); border-radius: 50%; text-align: center; line-height: 50px; color: #fff; font-size: 2.6rem; top: 62px; right: 35px; z-index: 5;}

@media all and (max-width:768px) {
  .pop_wrap .pop-inner{height: 500px;}
  .pop-text{height: 380px;}
}

.date::-webkit-calendar-picker-indicator,
.date::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

.date {
  position: relative;
  width: 100%;
  background: url('../img/day.png') no-repeat right 10px center;
  width: 22px;
  height: auto;
  background-color: #fff;
}

/**
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
*/
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type='date']::before {
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}

input[type='date']:valid::before {
  display: none;
}
input[type='date'] {
  position: relative;
  width: 100%;
  background: url('../img/day.png') no-repeat right 10px center;
  width: 22px;
  height: auto;
  background-color: #fff;
}
/**
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
*/
input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type='time']::before {
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}
input[type='time']:valid::before {
  display: none;
}

input[type='time'] {
  position: relative;
  width: 100%;
  background: url('../img/time.png') no-repeat right 10px center;
  width: 22px;
  height: auto;
  background-color: #fff;
}

.input_wrap{margin-top: 40px;}
.input_wrap h4{font-size: 2.2rem; margin-bottom: 15px;}
.input_wrap h4 span{font-weight: bold; color: var(--color); margin-right: 4px;}
.input_wrap input{height: 50px; border: 1px solid #cecece; padding-left: 10px; width: 100%;}
.input_wrap .inbox{width: 100%; display: flex; gap: 0px 10px;}
.input_wrap .inbox input{width: 100%;}
.input_wrap textarea{width: 100%; border: 1px solid #cecece; resize: none; padding: 10px;}
.input_wrap .inbox2{display: flex; gap: 10px 2%;}
.input_wrap .inbox2 .box label{font-size: 1.8rem;}
.input_wrap .inbox2 .box input{width: 18px; height: 18px;}
.input_wrap .inbox3 {display: flex; gap:0px 10px; align-items: center;}
.input_wrap .inbox3 select{height: 50px; border: 1px solid #cecece; width: 30%;}
.input_wrap .inbox3 input{width: 32%;}
.input_wrap .inbox3 span{font-size: 2.2rem;}
.input_wrap .inbox4{display: flex; gap:4px 10px;}
.input_wrap .inbox4 .box{display: flex; width: 50%;}
.input_wrap .inbox4 .box button{min-width: 90px; height: 50px; background: #000; color: #fff; font-size: 1.8rem; border: none;}
.input_wrap .end{margin-bottom: 5px;}
.input_wrap .end input{width: 20px; height: 20px; }
.input_wrap .end label{font-size: 1.8rem;}
.input_wrap ul{margin-top: 10px;}
.input_wrap ul li{font-weight: 400;}
.con_tel{padding-top: 30px; margin-top: 40px; border-top: 1px solid #ccc;}
.con_tel h2{text-align: center; font-weight: bold; font-size: 2.4rem;}
.con_tel a{display: flex; align-items: center; justify-content: center; margin-top: 40px; font-size: 2.4rem; font-weight: bold; margin-bottom: 20px;}
.con_tel a img{margin-right: 7px;}
.check{text-align: center;}
.check input{width: 19px; height: 19px;}
.check label{font-size: 1.9rem;}
.con_btn{width: 380px; height: 70px; line-height: 70px; text-align: center; display: block; margin: 0 auto; background: var(--color); font-size: 2.4rem; color: #fff; font-weight: 500; margin-top: 30px;}
.check .text{padding: 10px; overflow-y: scroll; height: 120px; border: 1px solid #cecece; margin-top: 20px;}
.check .text h2{font-size: 2.0rem; font-weight: 500; }
.check .text p{font-size: 1.7rem; line-height: 135%; margin-top: 15px; text-align: left;}



@media all and (max-width: 1400px){
  .page5 .box h2{font-size: 2.0rem;}
  .page5 .box p{font-size: 1.6rem;}
  .page5 .box h3{margin-bottom: 20px;}
}
@media all and (max-width: 1200px){
  #header .head_menu .logo img{width: 200px;}
  #header .head_menu .pop-btn2, #header .pmenu a{font-size: 1.8rem;}
  .page3 .text h4{width: 100%;}
  .page3 .box_wrap .img{max-width: 400px;}
  .page5 .scroll{overflow-x: scroll; width: 92%; margin: 0 auto;}
  .page5 .box_wrap{width: 1200px;}
  .page5 .box h2{min-height: 95px;}
}
@media all and (max-width: 1024px){
  .main .main_text h3 img{width: 120px;}
  .main .main_text h4{font-size: 2.8rem; margin-bottom: 10px;}
  .main .main_text h2{font-size: 5.5rem; margin-bottom: 25px;}
  .main .main_text p{font-size: 2.0rem; margin-bottom: 35px;}
  .main .main_text a{font-size: 2.4rem;}
  .page1 h3 img{width: 100px;}
  .page1 h3{margin-bottom: 30px;}
  .page1 h4{font-size: 2.2rem; margin-bottom: 20px;}
  .page1 h5{font-size: 3.6rem;}
  .page1 h2{font-size: 5.5rem;}
  .page1 .box_wrap{margin-top: 60px;}
  .page1 .box p{font-size: 2.4rem;}
  .page2 .text h3{font-size: 2.2rem; margin-bottom: 5px;}
  .page2 .text h2{font-size: 5.5rem; margin-bottom: 30px;}
  .page2 .text h4{font-size: 3.0rem; margin-bottom: 20px;}
  .page2 .text h5{font-size: 2.2rem; margin-bottom: 80px;}
  .page2 .cut1 img{width: 180px;}
  .page2 .text .cut1 p{font-size: 2.2rem; margin-top: 10px;}
  .page2 .cut2 h2{font-size: 4.0rem; margin-top: 55px;}
  .page2 .cut2 .line{height: 110px; margin: 50px auto;}
  .page2 .cut3 h2{font-size: 3.0rem; margin-bottom: 40px;}
  .page2 .cut3 .img{max-width: 280px;}
  .page2 .cut3{margin-bottom: 70px;}
  .page2 .cut4 h2{font-size: 3.0rem; margin-bottom: 40px;}
  .page2 .cut4 h3{font-size: 3.0rem;}
  .page2 .cut5 h2{font-size: 5.5rem; margin-top: 90px;}
  .page3 .title h3{font-size: 4.5rem;}
  .page3 .title h2{font-size: 5.5rem;}
  .page3 .text h4{font-size: 2.4rem; margin-bottom: 30px;}
  .page3 .text p{font-size: 2.0rem;}
  .page3 .text p br{display: none;}
  .page3 .box_wrap .img{max-width: 320px;}
  .page3 .box_wrap{margin-top: 90px;}
  .page4 .title h3{font-size: 4.5rem;}
  .page4 .title h2{font-size: 5.5rem;}
  .page4 .title{margin-bottom: 60px;}
  .page5 .title h4 img{width: 160px;}
  .page5 .title h3{font-size: 4.5rem;}
  .page5 .title h2{font-size: 5.5rem;}
  .page5 .title{margin-bottom: 60px;}
  .page6 h2{font-size: 5.5rem; margin-bottom: 35px;}
  .page6 .time h3{font-size: 4.0rem;}
  .page6 .time h4{font-size: 2.0rem;}
  .page6 ul li p{font-size: 1.7rem;}
  .page7 h2{font-size: 5.5rem; margin-bottom: 60px;}
  .page7 .box h3{font-size: 2.2rem;}
  .page7 .box p{font-size: 2.2rem;}
  .page8 .title h3{font-size: 2.0rem;}
  .page8 .title h2{font-size: 5.5rem;}
  .page8 .title h4{font-size: 7.5rem;}
  .page8 .swiper-slide .text h2{font-size: 2.2rem;}
  .page8 .swiper-slide .text h3{font-size: 1.8rem;}
  .page8 .swiper-slide .text li{font-size: 1.8rem;}
  .page8 .swiper-slide .text ul{margin-top: 25px;}
  .page1 .box{width: 48%;}
}
@media all and (max-width: 900px){
  .page8 .swiper-slide{flex-direction: column;}
  .page8 .swiper-slide .text{width: 100%; padding: 30px 30px;}
  .page8 .swiper-slide .img img{width: 75%;}
  .page8 .btn_wrap div{z-index: 10; width: 40px; height: 40px; line-height: 40px;}
}
@media all and (max-width: 850px){
  .page1 .box_wrap{flex-direction: column; gap:60px 0px;}
  .page1 .box{width: 100%;}
}
@media all and (max-width: 768px){
  .mquick{position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 10; border-top: 1px solid var(--color); height: 60px; display: flex !important; background: #fff;}
  .mquick a{width: 50%; display: flex; align-items: center; justify-content: center; font-size: 1.8rem; font-weight: 500;}
  .mquick a:nth-child(2){background: var(--color); color: #fff;}
  .mquick a img{width: 45px; margin-right: 10px;}
  .mquick #top_btn{width: 60px;  min-width: 60px; border: none; }
  .mquick #top_btn span{font-size: 1.6rem; font-weight: bold; line-height: 60px;}
  .mquick #top_btn:hover{background: none; color: #000;}
  .main .main_text h3{margin-bottom: 20px;}
  .main .main_text h4{font-size: 1.8rem;}
  .main .main_text h3 img{width: 90px;}
  .main .main_text h2{font-size: 3.6rem;}
  .main .main_text p{font-size: 1.6rem;}
  .main{height: 550px;}
  .main .main_text a{font-size: 2.0rem;}
  .page1 h3 img{width: 70px;}
  .page1 h5{font-size: 2.6rem;}
  .page1 h2{font-size: 3.6rem;}
  .page1 h4{font-size: 1.8rem;}
  .page1 .box p{font-size: 2.0rem;}
  .page2 .text h3{font-size: 1.8rem;}
  .page2 .text h2{font-size: 3.6rem;}
  .page2 .text h4{font-size: 2.2rem;}
  .page2 .text h5{font-size: 1.8rem; margin-bottom: 60px;}
  .page2 .cut2 h2{font-size: 2.4rem;}
  .page2 .cut3 h2{font-size: 2.4rem;}
  .page2 .cut4 h2{font-size: 2.2rem;}
  .page2 .cut4 h3{font-size: 2.2rem;}
  .page2 .cut5 h2{font-size: 3.2rem;}
  .page3 .title h3{font-size: 3.0rem;}
  .page3 .title h2{font-size: 3.6rem;}
  .page3 .box_wrap{flex-direction: column-reverse;;}
  .page3 .box_wrap .img{width: 90%; margin-bottom: 35px; max-width: none;}
  .page3 .text{width: 100%;}
  .page3 .text h4{padding: 10px 25px;}
  .page4 .title h3{font-size: 2.8rem;}
  .page4 .title h2{font-size: 3.6rem;}
  .page4 .text_wrap2{margin-top: 10px;}
  .page4 .text_wrap{margin-top: 10px;}
  .page5 .title h3{font-size: 2.8rem;}
  .page5 .title h2{font-size: 3.6rem;}
  .page5 .box h3{margin-bottom: 10px;}
  .page5 .box .text{margin-bottom: 15px;}
  .page5 .box h3{font-size: 1.4rem;}
  .page6 h2{font-size: 3.6rem;}
  .page6 .time h3{font-size: 2.2rem; letter-spacing: -0.06em;}
  .page6 .time h4{font-size: 1.8rem;}
  .page7 h2{font-size: 3.6rem;}
  .page7 .box h3{font-size: 1.8rem;}
  .page7 .box p{font-size: 1.8rem;}
  .page8 .title h2{font-size: 3.6rem;}
  .page8 .title h4{font-size: 5.0rem; margin-left: 30%;}
  .page8 .title{margin-bottom: 60px;}
  .page8 .swiper-slide{border-radius: 70px 0px 0px 0px;}
  .page8 .swiper-slide .img{width: 100%; padding-top: 30px;}
  .page8 .swiper-slide .text li{font-size: 1.6rem;}
  .page8 .text2 h4{font-size: 1.8rem;}
  .page8 .text2 p{font-size: 1.6rem;}
  .page8 .text2{margin-top: 30px;}
  #ft{padding-bottom: 100px;}
  #ft .footer{flex-direction: column;}
  #ft .footer .foot_info{width: 100%; display: flex; flex-direction: column; align-items: center;}
  .page7 .box{padding: 12px;}
  #popup2 .pop-inner h3{font-size: 3.6rem; margin-bottom: 15px;}
  #popup2 .pop-close{width: 35px; height: 35px; line-height: 35px; top: 20px; right: 20px;}
  .input_wrap h4{font-size: 1.8rem;}
  .input_wrap input{height: 45px;}
  .input_wrap .inbox3 select{height: 45px;}
  .input_wrap .inbox4{flex-direction: column;}
  .input_wrap .inbox4 .box{width:100%;}
  .input_wrap .inbox4 .box button{height: 45px;}
  .input_wrap .inbox2{flex-wrap: wrap;}
  .input_wrap .inbox2 .box{width: 49%;}
  .con_btn{width: 280px;}
  .pop-text{padding-bottom: 0px;}
}
@media all and (max-width: 650px){}
